.navbar{
        padding:0px;
     min-height: 0;
}
.logo{
        font-family: 'Calligraffitti', cursive;

}

.menu[class*=" p-"] li > *, .menu[class^="p-"] li > * {
        border-radius: var(--none, 0rem) !important;
    }